body,p {
  margin: 0px;
}

.content {
  width:100%;
  height:100%;}

.main-bar{
  position: fixed;
  top:0px;
  height:40px;
  width:100%;
  background-color: grey;
}

.close-button {
  width: 40px;
  height: 100%;
  float: right;
  right: 0px;
  font-family: arial;
  transition: all 0.2s;
}

.close-button p {
  float: left;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.close-button:hover{
  background-color: #646464;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}

.bottom-bar {
  position: fixed;
  bottom: 0px;
  height: 20px;
  width: 100%;
  background-color: silver;
}

.ver {
  position: fixed;
  right: 5px;
  bottom: 0px;
}
